includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
    level: 5
    paths:
        - src
    scanDirectories:
        - vendor/doctrine/dbal/src
        - vendor/symfony/uid
        - vendor/symfony/doctrine-bridge
    ignoreErrors:
        -
          message: '#While loop condition is always true.#'
          path: src/Command/WebsocketPingCommand.php